__pycache__/
*.pyc
*.egg-info/
/README.md
/output

gaussian-splatting/SIBR_viewers
gaussian-splatting/.vscode
gaussian-splatting/output
gaussian-splatting/build
gaussian-splatting/diff_rasterization/dist
gaussian-splatting/submodules/simple-knn/dist/
gaussian-splatting/tensorboard_3d
gaussian-splatting/screenshots

NAFNet/.DS_Store
NAFNet/.idea/*
NAFNet/experiments
NAFNet/logs/
NAFNet/*results*
NAFNet/*.sh
NAFNet/datasets
NAFNet/weights/*README.md
NAFNet/.eggs